additionalArguments:
  - "--certificatesresolvers.cloudflare.acme.email=evandroslk@email.com"
  - "--certificatesresolvers.cloudflare.acme.storage=/data/acme.json"
  - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
  - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
  - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
  - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: CF_DNS_API_TOKEN

persistence:
  enabled: true
  path: /data
  size: 1Gi

service:
  type: NodePort

ports:
  web:
    port: 80
    nodePort: 30080

  websecure:
    port: 443
    nodePort: 30443