service:
  type: NodePort

providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: false

gatewayClass:
  enabled: true

gateway:
  enabled: false

ports:
  web:
    port: 8000
    exposedPort: 80
    nodePort: 30080

  websecure:
    port: 8443
    exposedPort: 443
    nodePort: 30443
